/**/
#jumb{
  background-color: lightpink;
  margin-top: 60%;
}
#cadastrar{
  background-color: lightblue;
}
#listar{
  background-color: lightblue;
}
#select{
  background-color: lightblue;
  color: lavender;
}